# Ignore virtual env
**/venv/

# Ignore VS Code files
**/.vscode/
**/.DS_Store
*.code-workspace

# Ignore python bytecode
*.pyc
*.pyo

# Ignore private config and information
#**/config.py
#**/.env
#*.info
